body {
  background: lightcyan;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-image: url("/src/girl.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  .text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    background-color: white;
    // width: auto;
    // background-position: bottom;
    // max-height: 30%;
  }
  .hiddentext {
    position: absolute;
    transform: scale(0);
  }
  .bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: blue;
  }
  .date {
    background-color: orangered;
    border-radius: 100%;
    align-self: flex-end;
    justify-content: flex-start;
    padding: 0px;
    color: white;
    position: relative;
    top: 0px;
    right: 0px;
  }
  .photo {
    background-color: orangered;
    align-self: flex-start;
    padding: 2px;
    width: 25%;
    color: white;
    text-align: center;
  }
}

 %hidden_text .hiddentext{
     
 }

// %blur .container{
//     background-size: 110%;
//     backdrop-filter: blur(10px) ;
// }

// %text_transition .text {
//     transition-property: height;
//     transition-duration: 2s;
//     transition-timing-function: linear;
//     transition-delay: 1s;
// }
