body {
  background: lightcyan;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-image: url("/src/girl.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  .text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    // padding: 5%;
    background-color: white;
    background-position: bottom;
    max-height: 30%;
    // .hiddentext{
    //     display: none;
    // }
  }
  .hiddentext {
    transform: scale(0);
    // max-height:max-content;
    // overflow:hidden;

  }
  .bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: blue;
  }
  .date {
    background-color: orangered;
    border-radius: 100%;
    align-self: flex-end;
    justify-content: flex-start;
    padding: 0px;
    color: white;
    position: relative;
    top: 0px;
    right: 0px;
  }
  .photo {
    background-color: orangered;
    align-self: flex-start;
    padding: 2px;
    width: 25%;
    color: white;
    text-align: center;
  }
}

// %hidden_text .hiddentext{
//     display: block;
// }

// %blur .container{
//     background-size: 110%;
//     backdrop-filter: blur(10px) ;
// }

// %text_transition .text {
//     transition-property: height;
//     transition-duration: 2s;
//     transition-timing-function: linear;
//     transition-delay: 1s;
// }
