// Faire deux sections principals
// un pousse l'autre , le texte apparait en montant 
// utiliser translate
// 



body {
  background: lightcyan;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.container {
  width: 400px;
  height: 500px;
  overflow: hidden;
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 5%;
    background-image: url("/src/girl.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    transition: 0.7s;
  }

  // .date {
  //   background-color: orangered;
  //   border-radius: 100%;
  //   align-self: flex-end;
  //   justify-content: flex-start;
  //   margin-bottom: 250px;
  //   color: white;
  //   position: relative;
  //   top: 0px;
  //   right: 0px;
  // }

  .title {
    font-size: 22px;
    color: orangered;
    margin: 0px;
  }

  .text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    background-color: white;
    padding: 5%;
  }

  .hiddentext {
    align-self: flex-end;
    overflow: hidden;
    max-height: 0px;
    transition: max-height 1s ease-in;
    padding-bottom: 5%;
  }

  .bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: blue;
  }
  .photo {
    background-color: orangered;
    align-self: flex-start;
    padding: 2px;
    width: 25%;
    color: white;
    text-align: center;
  }
}

%hidden_text .hiddentext {
  max-height: 200px;
}

.container:hover {
  @extend %hidden_text;
  //@extend %ease_text;
  //@extend %blur;
}

%blur .card  {
  -ms-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

